.PlaylistPreview {
    margin: 20px 0;
    margin-bottom: -10px;
    --background: none;
    opacity:1;
}

.PlaylistPreview__start {
    display: flex;
}

.PlaylistPreview__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-family: 'Gotham'!important;
    font-weight: normal;
    font-size: 14px;
    font-weight: lighter;
}

.PlaylistPreview__texts ion-text:first-child {
    font-size: 14px;
    font-weight: normal;
}
