.ThemeList ion-toolbar {
    background: transparent;
  
}

.ThemeList .cameleon-title {
    font-family: 'Designer', sans-serif!important;
    font-size: 40px;
    padding-top: 15px;
   padding-left: 100px;
}

.ThemeList .themes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
  
    
}

.ThemeList .themes > .theme {
    width: 50%;
    padding: 2px;
   
}

.themesensuel{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.themereve{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.themerebelle{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.themejoie{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size:20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.thememelan{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size:20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.themefrenesie{
    font-family: 'Gotham', sans-serif!important;
    color:white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    text-transform: capitalize
}

.ThemeList ion-button {
    
    --background: transparent;
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 0;
    --border-style: none;
    height: 150px;
 
}

.ThemeList ion-img {
    object-fit: cover;
    width: 100%;

    
}

.ThemeList ion-title {

    padding-top: 40px ;
    padding-left: 20px;
    color: white;
    font-family: 'Gotham', sans-serif!important;
    font-size: 18px;
    font-weight: 10100
}
