

.Home ion-toolbar {
    --background: transparent!important;
    --border-style: none;
}

.Home ion-slides {
    height: 100%;
}

.Home ion-button.all-themes {
    position: absolute;
    z-index: 20;
    bottom: 70px;
    left: 80px;
    right: 80px;
    height: 35px;
}

.backimage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/assets/image/kilarov-zaneit-ZRFztIxiy3M-unsplash.jpg");
    background-size: cover;
    filter: blur(8px);
}

.cameleon-title {
    font-family: 'Designer', sans-serif!important;
    font-size: 2rem;
}
  

