
.Search {

  ion-toolbar {
    --background: transparent;
    font-size: 20px;
    font-family: "Gotham" !important;
    font-weight: normal;
  }

  &__Header {
    &__bar {
      font-size: 20px!important;
      font-family: "Gotham" !important;
      font-weight: lighter!important;
      --background: #EEE;
      --color: #111;
      margin-bottom: 10px;
    }
  }

  &__trackresults {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;

    &__title {
      font-size: 16px;
      font-family: "Gotham" !important;
      font-weight: normal;
    }
  }

  &__artistresults {
    padding: 20px;
    display: flex;
    text-align: center;
    font-size: 16px;
    font-family: "Gotham" !important;
    font-weight: normal;
    overflow-x: auto;
  }
}
