.MusicPlayer {

    ion-progress-bar {
        --buffer-background: var(--ion-background-color);
    }

    ion-item {
        --background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(6px);
    }

    &__artist {
        font-size: 12px!important;
    }

    &__trackInfos {
        text-align: center;

        &__title {
            display: block;
            font-size: 1.5em;
        }
    }
}

ion-modal ion-toolbar {
    --background: transparent;
}

ion-modal ion-title {
    text-align: center;
}

ion-modal .backimage {
    position: absolute;
    background-color: black;
    filter: blur(13px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
}

ion-modal ion-content {
    --background: transparent;
    --color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-modal ion-content .trackInfos {
    position: relative!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-modal .trackInfos img {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 10px 10px 12px rgba(0,0,0,0.25);
}

ion-modal .trackInfos ion-buttons {
    margin: 15px 0;
}

ion-modal .trackInfos ion-button {
    font-size: 1.2rem;
    height: 2rem;
}

ion-modal ion-footer {
    padding: 20px 40px;
}

ion-modal ion-footer ion-buttons {
    margin-top: 15px;
    justify-content: space-around;
}

ion-modal ion-footer ion-buttons ion-button:nth-child(3) {
    font-size: 4rem;
    height: 5rem;
}
